/* Enter your custom styles here */
.old{
    font-weight: 900;
    font-size: large;
}
.aaa{
    margin-left: 38px;
    margin-right: 8px;
}
.bbb{
    margin-right: 10px;
}
/* .bg{
    border: 2px solid black;
} */